<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetLoginController</servlet-name>
  	<display-name>GetLogin</display-name>
  	<description></description>
  	<servlet-class>com.prj.web.GetLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetMenuItemController</servlet-name>
  	<display-name>GetMenuItem</display-name>
  	<description></description>
  	<servlet-class>com.prj.web.GetMenuItemController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetFeedController</servlet-name>
  	<display-name>GetFeed</display-name>
  	<description></description>
  	<servlet-class>com.prj.web.GetFeedController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStaffController</servlet-name>
  	<display-name>GetStaff</display-name>
  	<description></description>
  	<servlet-class>com.prj.web.GetStaffController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetMonSalesController</servlet-name>
  	<display-name>GetMonSales</display-name>
  	<description></description>
  	<servlet-class>com.prj.web.GetMonSalesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStocksController</servlet-name>
  	<display-name>GetStocks</display-name>
  	<description></description>
  	<servlet-class>com.prj.web.GetStocksController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetDiscountsController</servlet-name>
  	<display-name>GetDiscounts</display-name>
  	<description></description>
  	<servlet-class>com.prj.web.GetDiscountsController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetLoginController</servlet-name>
  	<url-pattern>/GetLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMenuItemController</servlet-name>
  	<url-pattern>/GetMenuItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetFeedController</servlet-name>
  	<url-pattern>/GetFeed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStaffController</servlet-name>
  	<url-pattern>/GetStaff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMonSalesController</servlet-name>
  	<url-pattern>/GetMonSales</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStocksController</servlet-name>
  	<url-pattern>/GetStocks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetDiscountsController</servlet-name>
  	<url-pattern>/GetDiscounts</url-pattern>
  </servlet-mapping>
</web-app>
